<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask Index</title>
</head>
 
<body>
    <br>
    <h1 align="center">Flask for Setiment Input</h1>
    <br>
    <form align="center" action="/setiment_post" method="POST">
        <input type="text"><br><br>
        <input type="submit" value="Analysis">
    </form>
    <br><br>
</body>
<footer align='center'>Powerd by <strong>© 2023 JimniDev</strong></footer>
</html>